/*GLOBAL STYLES
---------------------------*/
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #2f1e24;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
}
img {
  width: 250px;
}
a {
  color: #f0eff4;
  background: #C86A78;
  text-decoration: none;
  padding: 8px;
  border: 1px solid #f0eff4;
  border-radius: 4px;
  margin: 10px;

}
a:hover {
  text-decoration: underline;
}

a:active {
  color: #95a3b3;
  background: #f0eff4;
  border: solid 1px #95a3b3;
  text-decoration: none;
}

.project-button {
  margin: 0;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 24px;
}

h3 {
    font-size: 16px
  margin-bottom: 0;
}

.item-details h3 + p {
  font-style: italic;
}

.item-details h3 ~ p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Rubik Mono One", sans-serif;
}

/* .content-wrap {
  max-width: 900px;
  width: 85%;
  margin: 0 auto;
  padding: 60px;
} */

.content-wrap {
    max-width: 900px;
    width: 85%;
    margin: 0 auto;
    padding: 60px;
  }

.divider > section {
  /* border-bottom: 2px solid #5b5b5c; */

  padding: 25px 0;
}

.divider > section:last-of-type {
  border-bottom: none;
}
/*PROFILE
---------------------------*/
header {
  background: #fff;
  color: #1d1c20;
  text-align: center;
  padding: 150px 150px;
  border-bottom: 2px dotted #95a3b3 ;

}

nav {
  background-color: #C86A78;
}

img {
    float: left;
    padding: 30px;
    

}

hr {
    background-color: #000;
    height: 2px;
}

.hero {
  background-image: url("../images/wideUntitled\ design.gif");
  background-size: 100% ;
  background-repeat: no-repeat;
}
/*PROJECTS
---------------------------*/
.projects {
  background: #fff;
  padding: 40px;
  border-bottom: 2px dotted green;
}
.project-item {
  overflow: hidden;
  border-bottom: 1px solid green;
  padding: 25px 0;
}


.project-item h3 {
  margin-top: 0;
}
/*WORK EXPERIENCE
---------------------------*/
.workExperience {
  background-color: #fff;
  color: #2f1e24;
  border-bottom: 2px dotted green;
}

/*EDUCATION
---------------------------*/
.education {
  background: #fff;
  /* border-bottom: 2px dotted green; */
}

/*CONTACT INFO
---------------------------*/
footer {
  background: #C86A78;
  color: #fff;
  text-align: center;
}

.contact-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 0;
}

.contact-list a {
  padding: 10px;
  display: inline-block;
  margin: 10px;
}

/* Responsive Design */

@media screen and (min-width: 770px) {
  .project-item img {
    float: left;
    margin-right: 20px;
  }
  .job-item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 20px;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 20px;
  }
}
